html,
body,
#react-root {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #F1F9F5;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding-bottom: 85px;
  max-width: 600px;
  
}


