html,
body,
#react-root {
  height: 100%;
}

body {

  margin: 0px;
  background-color: #F1F9F5;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  max-width: 600px;
  padding: 20px;
}


